Repository augusto-gs/e-commerce-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx eslint

.lintstagedrc.json:

{
  "*.{ts, js,css,json,md, vue}": "prettier --write",
	"*.{ts, vue}": "npx eslint"
}

Add commit-msg hook
  .husky/commit-msg
  commitlint.config.cjs
Due: none

Add pre-comit hook
  .husky/pre-commit
Due: none

Add code audit workflow
  .github/workflows/audit.yaml
Due: none

Add build workflow
  .github/workflows/build.yaml
Due: none

Add testing workflow
  .github/workflows/testing.yaml
Due: none

Add sonar configuration
  .editorconfig
  .github/workflows/audit.yaml
  package-lock.json
  package.json
  sonar-project.properties
Due: prettier --write

Add global styles to project
  src/assets/main.css
Due: prettier --write

Add MainHeader component
  index.html
  public/favicon.svg
  public/images/e-commerce-logo.svg
  src/App.vue
  src/components/App.vue
  src/components/MainHeader/MainHeader.vue
  src/main.ts
  src/views/HomeView.vue
Due: prettier --write, npx eslint

Add styles to MainHeader component
  src/components/MainHeader/MainHeader.vue
Due: none

Add testing suite to MainHeader component
  package-lock.json
  package.json
  src/components/MainHeader/MainHeader.spec.ts
  src/components/MainHeader/MainHeader.vue
  src/setupTests.ts
  tsconfig.app.json
  vitest.config.ts
Due: prettier --write, npx eslint

Add integration testing suite for App component
  package-lock.json
  package.json
  src/components/App/App.spec.ts
  src/components/App/App.vue
  src/main.ts
  src/testUtils/mockRouter.ts
  src/views/HomeView.vue
Due: prettier --write, npx eslint
